PORT=10000
WHATSAPP_API_VERSION=v25.0
WHATSAPP_PHONE_NUMBER_ID=your_phone_number_id
WHATSAPP_ACCESS_TOKEN=your_new_access_token
WHATSAPP_WEBHOOK_VERIFY_TOKEN=choose_a_private_verify_token
WHATSAPP_TEMPLATE_NAME=jaspers_market_plain_text_v1
WHATSAPP_TEMPLATE_LANGUAGE=en_US
WHATSAPP_OTP_TEMPLATE_NAME=game_api_otp
WHATSAPP_OTP_TEMPLATE_LANGUAGE=en_US
